%h2.title Stats

%table
  %tr
    %th Date
    %th
    %th
    %th

  - @daily_food_records.each do |daily_food_record|
    %tr
      %td= daily_food_record.date
      %td= link_to 'Show', [@user, daily_food_record]