.date_header.grid
  .row
    .span4
      .shift_left
        %i.icon-arrow-left
    .span4
      %h3.date_title
        = @date
    .span4
      .shift_right
        %i.icon-arrow-right

%h2.title
  Nothing added yet