.span1
.span4
  %h2 Sign Up

  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    .input-control.text
      =f.text_field :username, autofocus: true, placeholder: 'User Name'
    .input-control.text
      =f.email_field :email, placeholder: 'Email'
    .input-control.text
      =f.password_field :password, placeholder: 'Password'
    .input-control.text
      =f.password_field :password_confirmation, placeholder: 'Password confirmation'
    =f.submit 'Sign Up'
  = render 'devise/shared/links'
